* {padding:0;margin:0;}

/* skip to navigation */
#skipnavigation {position:absolute;top:0;left:0;z-index:999999;}
#skipnavigation ul {width:100%;}
#skipnavigation li {text-align:center;}
#skipnavigation a {display:block;color:#000;width:1px;height:1px;overflow:hidden;white-space:nowrap;}
#skipnavigation a:focus ,#skipnavigation a:active {width:100%;height:auto;}

/* wrap */
#wrap{min-width:1200px;}

/* header */
#header{overflow:hidden;height:90px;background-color:#2e5b95;}
#header .h1_logo{float:left;width:200px;padding:27px 0 29px 0;text-align:center;background-color:#2a394f;}

/* GNB */
#gnbWrap{float:left;}
#gnbWrap .gnb{overflow:hidden;}
#gnbWrap .gnb li{float:left;font-weight:bold;border-right:1px solid #4d73a5;}
#gnbWrap .gnb li a{display:block;width:110px;padding:55px 0 17px;font-size:14px;text-align:center;}
#gnbWrap .gnb li.menu_851 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb01.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_103 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb02.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_854 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb03.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_855 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb04.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_856 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb05.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_857 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb06.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_858 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb07.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_859 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb08.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_102 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb09.gif) no-repeat center top;}
#gnbWrap .gnb li.menu_945 a{background:url(/mng/common/site/www/admin/images/common/bg_gnb10.gif) no-repeat center top;}
#gnbWrap .gnb li a:link {text-decoration:none;color:#b8c6d8;}
#gnbWrap .gnb li a:visited {color:#b8c6d8;text-decoration:none;}
#gnbWrap .gnb li a:hover {color:#fff;text-decoration:none;background-position:center -90px;}
#gnbWrap .gnb li a:active {color:#fff;text-decoration:none;background-position:center -90px;}
#gnbWrap .gnb li.on a{color:#fff;text-decoration:none;background-position:center -90px;}


/* container */

#container{position:relative;z-index:1;background:url(/mng/common/site/www/admin/images/common/bg_side.gif) repeat-y top left}

#lnbWrap{position:absolute;top:0;left:0;background-color:#fbfbfbl;width:199px;padding-right:1px;}

#lnbWrap .utilGroup{padding:20px;background-color:#ebf1f5;}
#lnbWrap .utilGroup .util1{padding-top:13px;text-align:center;color:#333}
#lnbWrap .utilGroup .util1 span{display:inline-block;*display:inline;zoom:1;padding-left:25px;font-weight:bold;background:url(/mng/common/site/www/admin/images/common/icon_admin.gif) no-repeat;}
#lnbWrap .utilGroup .util2{padding-top:14px;}
#lnbWrap .utilGroup .util2 a{display:block;padding:9px 0 8px;text-align:center;color:#fff;font-weight:bold;background-color:#6f7f8f;}
#lnbWrap .utilGroup .util2 a:link {text-decoration:none;color:#fff;}
#lnbWrap .utilGroup .util2 a:visited {color:#fff;text-decoration:none;}
#lnbWrap .utilGroup .util2 a:hover {color:#fff;text-decoration:none;}
#lnbWrap .utilGroup .util2 a:active {color:#fff;text-decoration:none;}

#lnbWrap .h2_title{padding:10px 20px 9px;font-size:14px;color:#222;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#e9e9e9;}

#lnbWrap .lnb{}
#lnbWrap .lnb > li{border-bottom:1px solid #e9e9e9;}
#lnbWrap .lnb > li > a{display:inline-block;margin-left:20px;padding:9px 0 8px 18px;color:#000;background:url(/mng/common/site/www/admin/images/common/bg_leftMenu.gif) no-repeat 0 1em;}
#lnbWrap .lnb > li > a:link{text-decoration:none;color:#000;}
#lnbWrap .lnb > li > a:visited{color:#000;text-decoration:none;}
#lnbWrap .lnb > li > a:hover{color:#006ea6;text-decoration:none;font-weight:bold;}
#lnbWrap .lnb > li > a:active{color:#006ea6;text-decoration:none;font-weight:bold;}
#lnbWrap .lnb > li > a.on{color:#006ea6;text-decoration:none;font-weight:bold;}

#lnbWrap .lnb > li > ul{padding-bottom:5px;}
#lnbWrap .lnb > li > ul > li{padding-bottom:6px;}
#lnbWrap .lnb > li > ul > li > a{display:inline-block;margin-left:28px;padding-left:10px;background:url(/mng/common/site/www/admin/images/common/bullet_square_type.gif) no-repeat 0 0.5em;}
#lnbWrap .lnb > li > ul > li > a:link {text-decoration:none;color:#333;}
#lnbWrap .lnb > li > ul > li > a:visited{color:#333;text-decoration:none;}
#lnbWrap .lnb > li > ul > li > a:hover {color:#006ea6;text-decoration:none;font-weight:bold;}
#lnbWrap .lnb > li > ul > li > a:active {color:#006ea6;text-decoration:none;font-weight:bold;}
#lnbWrap .lnb > li > ul > li > a.on{color:#006ea6;text-decoration:none;font-weight:bold;}


#lnbWrap .lnb .submenu{background-color:#fbfbfb}
#lnbWrap .lnb .submenu a{display:inline-block;*display:inline;zoom:1;margin-left:25px;padding:3px 0 3px 18px;background:url(/mng/common/site/www/admin/images/common/bullet_square_type.gif) no-repeat 0.4em 0.8em;}
#lnbWrap .lnb .submenu a:link {text-decoration:none;color:#333;}
#lnbWrap .lnb .submenu a:visited{color:#555;text-decoration:none;}
#lnbWrap .lnb .submenu a:hover {color:#006ea6;text-decoration:none;font-weight:bold;}
#lnbWrap .lnb .submenu a:active {color:#006ea6;text-decoration:none;}
#lnbWrap .lnb .submenu a.on{color:#006ea6;text-decoration:none;font-weight:bold;}

#lnbWrap .lnb .submenu4{background-color:#fbfbfb;}
#lnbWrap .lnb .submenu4 a{display:inline-block;*display:inline;zoom:1;margin-left:32px;padding:3px 0 3px 18px}
#lnbWrap .lnb .submenu4 a:link {text-decoration:none;color:#333;}
#lnbWrap .lnb .submenu4 a:visited{color:#555;text-decoration:none;}
#lnbWrap .lnb .submenu4 a:hover {color:#006ea6;text-decoration:none;font-weight:bold;}
#lnbWrap .lnb .submenu4 a:active {color:#006ea6;text-decoration:none;}
#lnbWrap .lnb .submenu4 a.on{color:#006ea6;text-decoration:none;font-weight:bold;}

/* contentWrap */
#contentWrap{padding-left:200px;min-height:800px}
#contentWrap .titleTop{position:relative;padding:17px 25px 18px;border-bottom:1px solid #d2d4db;}
#contentWrap .titleTop .h3_title{font-size:14px;font-weight:bold;color:#333;background:url(/mng/common/site/www/admin/images/common/icon_h3.gif) no-repeat 0 0.15em;padding-left:22px}
#contentWrap .titleTop .location{position:absolute;right:25px;top:15px;padding-left:20px;font-size:0.95em;color:#999;background:url(/mng/common/site/www/admin/images/common/icon_home.gif) no-repeat 0 0.3em;}
#contentWrap .titleTop .location span{color:#333;}
#contentWrap .content{padding:20px 25px;}

/* footer */
#footer{clear:both;background-color:#45474d;padding:26px 30px;}



/* ======= common style ========= */
/* padding */
.pd_tb5 {padding:5px 0;}
.pd_tb10 {padding:10px 0;}
.pd_tb20 {padding:20px 0;}
.pd_tb30 {padding:30px 0;}
.pd_tb40 {padding:40px 0;}

.pd_t3 {padding-top:3px;}
.pd_t5 {padding-top:5px;}
.pd_t10 {padding-top:10px;}
.pd_t15 {padding-top:15px;}
.pd_t20 {padding-top:20px;}
.pd_t25 {padding-top:25px;}
.pd_t30 {padding-top:30px;}
.pd_t40 {padding-top:40px;}
.pd_t50 {padding-top:50px;}

.pd_b2 {padding-bottom:2px;}
.pd_b5 {padding-bottom:5px;}
.pd_b10 {padding-bottom:10px}
.pd_b15 {padding-bottom:15px;}
.pd_b20 {padding-bottom:20px;}
.pd_b25 {padding-bottom:25px;}
.pd_b30 {padding-bottom:30px;}
.pd_b35 {padding-bottom:35px;}
.pd_b40 {padding-bottom:40px;}
.pd_b50 {padding-bottom:50px;}

.pd_l2 {padding-left:2px;}
.pd_l5 {padding-left:5px;}
.pd_l10 {padding-left:10px;}
.pd_l15 {padding-left:15px;}
.pd_l20 {padding-left:20px;}
.pd_l25 {padding-left:25px;}
.pd_l30 {padding-left:30px;}
.pd_l40 {padding-left:40px;}
.pd_l50 {padding-left:50px;}

.pd_r5 {padding-right:5px;}
.pd_r10 {padding-right:10px;}
.pd_r15 {padding-right:15px;}
.pd_r20 {padding-right:20px;}
.pd_r30 {padding-right:30px;}
.pd_r40 {padding-right:40px;}

.pd_all10 {padding:10px;}
.pd_all15 {padding:15px;}
.pd_all20 {padding:20px;}
.pd_all30 {padding:30px;}
.pd_all40 {padding:40px;}

.mg_t5 {margin-top:5px;}
.mg_t10 {margin-top:10px;}
.mg_t20 {margin-top:20px;}
.mg_t30 {margin-top:30px;}
.mg_t40 {margin-top:40px;}
.mg_t50 {margin-top:50px;}

.mg_b10 {margin-bottom:10px;}
.mg_b20 {margin-bottom:20px;}
.mg_b30 {margin-bottom:30px;}
.mg_b40 {margin-bottom:40px;}


/* text style */
.text_bold {font-weight:bold;}
.text_normal {font-weight:normal;}
.text_small {font-size:0.95em;}
.text_big {font-size:1.25em;}
.text_blue {color:#15a4fa;}
.text_gray {color:#8e8e8e;}
.text_red {color:#dc6263;}

.text_red_v2 {color:#ee593b;}
.align_justify {text-align:justify;}


/* bullet */
.bullet_squareType{display:inline-block;background:url(/homepage/mng/common/site/www/admin/images/) no-repeat 0 0.5em;padding-left:10px;line-height:1.4em;}
.bullet_file{display:inline-block;background:url(/mng/common/site/www/admin/images/board/icon_attach.gif) no-repeat 0 0.3em;padding-left:15px;}

/* float */
.f_left {float:left;}
.f_right {float:right;}
.f_clear {overflow:hidden;}
.f_clear2 {clear:both;}

/* align */
.position_left {text-align:left;}
.position_right {text-align:right;}
.position_mid {text-align:center;}

#backgroundPopup{display:none;position:fixed;height:100%;width:100%;top:0;left:0;background:#000;border:1px solid #cecece;z-index:9000;}

/* bullet */
.bullet_squareType{display:inline-block;background:url(/homepage/mng/common/site/www/admin/images/) no-repeat 0 0.5em;padding-left:10px;line-height:1.4em;}
.bullet_file{display:inline-block;background:url(/mng/common/site/www/admin/images/board/icon_attach.gif) no-repeat 0 0.3em;padding-left:15px;}


/* button */
.btn_addStyle01{display:inline-block;font-weight:bold;color:#fff;border:1px solid #596775;text-align:center;padding:0 7px 0 20px;height:20px;line-height:1.7em;background:url(/mng/common/site/www/admin/images/common/bg_btn_addStyle01.gif) repeat-x top left;}
.btn_addStyle01:link,
.btn_addStyle01:visited,
.btn_addStyle01:hover,
.btn_addStyle01:active{text-decoration:none;color:#fff;}


/* cursor : https://www.w3schools.com/cssref/pr_class_cursor.asp */

.alias {
	cursor: alias;
}

.all-scroll {
	cursor: all-scroll;
}

.auto {
	cursor: auto;
}

.cell {
	cursor: cell;
}

.context-menu {
	cursor: context-menu;
}

.col-resize {
	cursor: col-resize;
}

.copy {
	cursor: copy;
}

.crosshair {
	cursor: crosshair;
}

.default {
	cursor: default;
}

.e-resize {
	cursor: e-resize;
}

.ew-resize {
	cursor: ew-resize;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}

.help {
	cursor: help;
}

.move {
	cursor: move;
}

.n-resize {
	cursor: n-resize;
}

.ne-resize {
	cursor: ne-resize;
}

.nesw-resize {
	cursor: nesw-resize;
}

.ns-resize {
	cursor: ns-resize;
}

.nw-resize {
	cursor: nw-resize;
}

.nwse-resize {
	cursor: nwse-resize;
}

.no-drop {
	cursor: no-drop;
}

.none {
	cursor: none;
}

.not-allowed {
	cursor: not-allowed;
}

.pointer {
	cursor: pointer;
}

.progress {
	cursor: progress;
}

.row-resize {
	cursor: row-resize;
}

.s-resize {
	cursor: s-resize;
}

.se-resize {
	cursor: se-resize;
}
