* {padding:0;margin:0;}

/* ======= common style ========= */
/* padding */
.pd_tb5 {padding:5px 0;}
.pd_tb10 {padding:10px 0;}
.pd_tb20 {padding:20px 0;}
.pd_tb30 {padding:30px 0;}
.pd_tb40 {padding:40px 0;}

.pd_t3 {padding-top:3px;}
.pd_t5 {padding-top:5px;}
.pd_t10 {padding-top:10px;}
.pd_t15 {padding-top:15px;}
.pd_t20 {padding-top:20px;}
.pd_t25 {padding-top:25px;}
.pd_t30 {padding-top:30px;}
.pd_t40 {padding-top:40px;}
.pd_t50 {padding-top:50px;}

.pd_b2 {padding-bottom:2px;}
.pd_b5 {padding-bottom:5px;}
.pd_b10 {padding-bottom:10px}
.pd_b15 {padding-bottom:15px;}
.pd_b20 {padding-bottom:20px;}
.pd_b25 {padding-bottom:25px;}
.pd_b30 {padding-bottom:30px;}
.pd_b35 {padding-bottom:35px;}
.pd_b40 {padding-bottom:40px;}
.pd_b50 {padding-bottom:50px;}

.pd_l2 {padding-left:2px;}
.pd_l5 {padding-left:5px;}
.pd_l10 {padding-left:10px;}
.pd_l15 {padding-left:15px;}
.pd_l20 {padding-left:20px;}
.pd_l25 {padding-left:25px;}
.pd_l30 {padding-left:30px;}
.pd_l40 {padding-left:40px;}
.pd_l50 {padding-left:50px;}

.pd_r5 {padding-right:5px;}
.pd_r10 {padding-right:10px;}
.pd_r15 {padding-right:15px;}
.pd_r20 {padding-right:20px;}
.pd_r30 {padding-right:30px;}
.pd_r40 {padding-right:40px;}

.pd_all10 {padding:10px;}
.pd_all15 {padding:15px;}
.pd_all20 {padding:20px;}
.pd_all30 {padding:30px;}
.pd_all40 {padding:40px;}

.mg_t5 {margin-top:5px;}
.mg_t10 {margin-top:10px;}
.mg_t20 {margin-top:20px;}
.mg_t30 {margin-top:30px;}
.mg_t40 {margin-top:40px;}
.mg_t50 {margin-top:50px;}

.mg_b10 {margin-bottom:10px;}
.mg_b20 {margin-bottom:20px;}
.mg_b30 {margin-bottom:30px;}
.mg_b40 {margin-bottom:40px;}


/* text style */
.text_bold {font-weight:bold;}
.text_normal {font-weight:normal;}
.text_small {font-size:0.95em;}
.text_big {font-size:1.25em;}
.text_blue {color:#15a4fa;}
.text_gray {color:#8e8e8e;}
.text_red {color:#dc6263;}

.text_red_v2 {color:#ee593b;}
.align_justify {text-align:justify;}

/* float */
.f_left {float:left;}
.f_right {float:right;}
.f_clear {overflow:hidden;}
.f_clear2 {clear:both;}

/* align */
.position_left {text-align:left;}
.position_right {text-align:right;}
.position_mid {text-align:center;}

#backgroundPopup{display:none;position:fixed;height:100%;width:100%;top:0;left:0;background:#000;border:1px solid #cecece;z-index:9000;}

/* cursor : https://www.w3schools.com/cssref/pr_class_cursor.asp */

.alias {
	cursor: alias;
}

.all-scroll {
	cursor: all-scroll;
}

.auto {
	cursor: auto;
}

.cell {
	cursor: cell;
}

.context-menu {
	cursor: context-menu;
}

.col-resize {
	cursor: col-resize;
}

.copy {
	cursor: copy;
}

.crosshair {
	cursor: crosshair;
}

.default {
	cursor: default;
}

.e-resize {
	cursor: e-resize;
}

.ew-resize {
	cursor: ew-resize;
}

.grab {
	cursor: grab;
}

.grabbing {
	cursor: grabbing;
}

.help {
	cursor: help;
}

.move {
	cursor: move;
}

.n-resize {
	cursor: n-resize;
}

.ne-resize {
	cursor: ne-resize;
}

.nesw-resize {
	cursor: nesw-resize;
}

.ns-resize {
	cursor: ns-resize;
}

.nw-resize {
	cursor: nw-resize;
}

.nwse-resize {
	cursor: nwse-resize;
}

.no-drop {
	cursor: no-drop;
}

.none {
	cursor: none;
}

.not-allowed {
	cursor: not-allowed;
}

.pointer {
	cursor: pointer;
}

.progress {
	cursor: progress;
}

.row-resize {
	cursor: row-resize;
}

.s-resize {
	cursor: s-resize;
}

.se-resize {
	cursor: se-resize;
}
