@charset "utf-8"; 
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : Sub 공통(bbs포함)
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* title */
.h1_title {
    margin-bottom: 45px;
    font-family: "Noto-Light", sans-serif;
    color: #2f2f2f;
    font-size: 3.33333rem;
    font-weight: normal;
    line-height: 1em;
}
.h2_title {
    margin-bottom: 15px;
    font-family: "Noto-Light", sans-serif;
    color: #2f2f2f;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.33333rem;
}
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : tab style
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* tab */
.tab_2btn {
    margin-bottom: 30px;
}
.tab_2btn ul {
    overflow: hidden;
}
.tab_2btn ul li {
    float: left;
    width: 50%;
    margin-left: -1px;
    padding-bottom: 8px;
}
.tab_2btn ul li:first-child {
    margin-left: 0;
}
.tab_2btn ul li a {
    position: relative;
    display: block;
    padding: 11px 0;
    text-align: center;
    border: 1px solid #d4d6d8;
}
.tab_2btn ul li.on a {
    font-family: 'Noto-Medium';
    color: #fff;
    border: 1px solid #0fa5ab;
    background: #0fa5ab;
    z-index: 1;
}
.tab_2btn ul li.on a:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    background: #0fa5ab;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.tab_3btn {
    margin-bottom: 30px;
}
.tab_3btn ul {
    overflow: hidden;
}
.tab_3btn ul li {
    float: left;
    width: 33%;
    margin-left: -1px;
    padding-bottom: 8px;
}
.tab_3btn ul li:first-child {
    margin-left: 0;
}
.tab_3btn ul li a {
    position: relative;
    display: block;
    padding: 11px 0;
    text-align: center;
    border: 1px solid #d4d6d8;
}
.tab_3btn ul li.on a {
    font-family: 'Noto-Medium';
    color: #fff;
    border: 1px solid #0fa5ab;
    background: #0fa5ab;
    z-index: 1;
}
.tab_3btn ul li.on a:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    background: #0fa5ab;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.tab_3btn ul li:nth-child(2) {
    width: 34%;
}
.tab_6btn {
    margin-bottom: 30px;
}
.tab_6btn ul {
    overflow: hidden;
}
.tab_6btn ul li {
    float: left;
    width: 17%;
    overflow: hidden;
    margin-left: -1px;
    padding-bottom: 8px;
}
.tab_6btn ul li a {
    position: relative;
    display: block;
    padding: 11px 0;
    text-align: center;
    border: 1px solid #d4d6d8;
}
.tab_6btn ul li:first-child {
    margin-left: 0;
}
.tab_6btn ul li:nth-child(3n) {
    width: 16%;
}
.tab_6btn ul li.on a {
    font-family: 'Noto-Medium';
    color: #fff;
    border: 1px solid #0fa5ab;
    background: #0fa5ab;
    z-index: 1;
}
.tab_6btn ul li.on a:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left: -6px;
    width: 12px;
    height: 12px;
    background: #0fa5ab;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : popup style
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* popup */
#pop_wrap .pop_header {
    position: relative;
    padding: 12px 20px;
    background: #0082c6;
}
#pop_wrap .pop_header h1 {
    font-family: 'Noto-Medium';
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    color: #fff;
}
#pop_wrap .pop_header .btn_pop_close {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 19px;
    height: 19px;
    text-indent: -9999em;
    overflow: hidden;
}
#pop_wrap .pop_header .btn_pop_close:before {
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 0;
    height: 100%;
    border-left: 1px solid white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#pop_wrap .pop_header .btn_pop_close:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    border-top: 1px solid white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#pop_wrap .pop_container {
    padding: 20px;
    font-size: 1rem;
    line-height: 1.66667rem;
}
#pop_wrap .pop_container .pop_search_wrap {
    padding-bottom: 15px;
    border-bottom: 1px solid #d7dadf;
}
#pop_wrap .pop_container .pop_search_wrap .pop_search {
    position: relative;
    margin-bottom: 4px;
    padding-right: 68px;
}
#pop_wrap .pop_container .pop_search_wrap .pop_search .btn_round_type_3 {
    position: absolute;
    right: 0;
    top: 0;
}
#pop_wrap .pop_container .pop_result {
    padding-top: 15px;
}
#pop_wrap .pop_container .pop_result .result_text {
    padding-bottom: 10px;
}
#pop_wrap .pop_container .pop_result .result_list {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #d4d4d7;
    -webkit-overflow-scrolling: touch;
}
#pop_wrap .pop_container .pop_result .result_list ul {
    padding: 10px 15px;
}
#pop_wrap .pop_container .pop_result .result_list ul li a {
    display: inline-block;
    padding: 4px 0;
    position: relative;
    padding-left: 10px;
}
#pop_wrap .pop_container .pop_result .result_list ul li a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 13px;
    width: 3px;
    height: 3px;
    background: #b9b9b9;
}
#pop_wrap .pop_container .pop_result .result_list ul li a:active,
#pop_wrap .pop_container .pop_result .result_list ul li a:hover {
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    text-decoration: underline;
}
#pop_wrap .pop_container .pop_result .result_error {
    height: 225px;
    padding: 15px;
    overflow-y: auto;
    border: 1px solid #d4d4d7;
}
#pop_wrap .pop_container .pop_result .result_error .text_1 {
    padding-bottom: 5px;
    text-align: center;
}
#pop_wrap .pop_container .pop_result .result_error .text_2 {
    padding-top: 5px;
    color: #767676;
}
#pop_wrap .pop_container .leader_list {
    height: 200px;
    margin-top: 10px;
    border: 1px solid #d4d4d7;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
#pop_wrap .pop_container .leader_list ul {
    padding: 10px 15px;
    overflow: hidden;
}
#pop_wrap .pop_container .leader_list ul li {
    float: left;
    width: 50%;
}
#pop_wrap .pop_container .leader_list ul li a {
    display: inline-block;
    padding: 4px 0;
    position: relative;
    padding-left: 10px;
}
#pop_wrap .pop_container .leader_list ul li a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 13px;
    width: 3px;
    height: 3px;
    background: #b9b9b9;
}
#pop_wrap .pop_container .leader_list ul li a:active,
#pop_wrap .pop_container .leader_list ul li a:hover {
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    text-decoration: underline;
}
#pop_wrap .pop_container_2 {
    padding: 20px 20px 30px;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.pop_close_area {
    overflow: hidden;
    padding: 6px 20px;
    background: #666;
}
.pop_close_area p {
    float: left;
    font-size: 1em;
    line-height: 2rem;
    color: #fff;
}
.pop_close_area a {
    float: right;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 1rem;
    line-height: 1.66667rem;
    font-size: 1em;
    line-height: 2rem;
    color: #fff;
    background: #222;
}
.pop_close_area a:active,
.pop_close_area a:hover {
    text-decoration: none;
}
.pop_close_area a span {
    padding-right: 15px;
    background: url("/dwweb/images/img/sub/btn_defaultPop_close.png") no-repeat 100% 50%;
}
/* laypopup */
/* tooltip */
.tooltip_wrap {
    position: relative;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.tooltip_wrap .btn_open_tooltip a {
    display: inline-block;
    padding-right: 28px;
    color: #767676;
    background: url("/dwweb/images/img/sub/icon_tooltip.gif") no-repeat 100% 50%;
}
.tooltip_wrap .tooltip {
    position: absolute;
    left: 0;
    top: 28px;
    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px 15px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1;
    display: none;
}
.tooltip_wrap .tooltip .tooltip_title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    border-bottom: 1px solid #ccc;
}
.tooltip_wrap .tooltip .tooltip_text {
    line-height: 1.83333rem;
}
.tooltip_wrap .tooltip .btn_close_tooltip {
    position: absolute;
    right: 15px;
    top: 15px;
}
.tooltip_wrap .tooltip .btn_close_tooltip a {
    display: block;
    width: 19px;
    height: 19px;
    overflow: hidden;
    text-indent: -9999em;
}
.tooltip_wrap .tooltip .btn_close_tooltip a:before {
    content: "";
    display: block;
    position: absolute;
    left: 9px;
    top: 0;
    height: 100%;
    border-left: 1px solid #2f2f2f;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.tooltip_wrap .tooltip .btn_close_tooltip a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    border-top: 1px solid #2f2f2f;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
@media screen and (min-width: 160px) and (max-width: 767px) {
    .tooltip_wrap {
        font-size: 1rem;
        line-height: 1.66667rem;
    }
    .tooltip_wrap .tooltip {
        left: -20px;
    }
    .tooltip_wrap .tooltip .tooltip_title {
        padding: 1px 0 11px;
    }
    .tooltip_wrap .tooltip .tooltip_text {
        line-height: 1.66667rem;
    }
    #pop_wrap .pop_container_2 {
        font-size: 1rem;
        line-height: 1.66667rem;
    }
}
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : text style
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* box */
.rect_box {
    padding: 45px;
    background: #f2f3f4;
}
.rect_box .align_center {
    text-align: center;
}
.rect_box .align_center_2 {
    margin-bottom: 24px;
    text-align: center;
}
.rect_box .line_wrap {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d7dadf;
}
.rect_box .box_title,
.rect_box .box_title_2 {
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    font-size: 1.5rem;
    line-height: 2.33333rem;
}
.rect_box .box_title_2 {
    padding-bottom: 10px;
}
.rect_box_2 {
    padding: 70px 75px;
    background: #f2f3f4;
    text-align: center;
}
.rect_box_2 h2 {
    font-size: 2.33333rem;
    line-height: 3.16667rem;
}
.rect_box_2 p {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    color: #595959;
}

.info_box {
    padding: 25px 50px;
    border: 1px solid #e3e5e9;
}
.info_box .info_title {
    margin-left: -20px;
    padding-left: 20px;
    font-family: 'Noto-Medium';
    background: url("/dwweb/images/img/sub/icon_info.png") no-repeat 0 0.3em;
}
.info_box .info_text {
    font-size: 1.16667rem;
    line-height: 2rem;
}
.icon_box {
    padding: 70px;
    text-align: center;
    background: #f2f3f4;
}
.icon_box .icon_box_inner {
    padding-top: 190px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.icon_box .icon_box_inner .text_title {
    padding-bottom: 19px;
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    font-size: 2.33333rem;
    line-height: 3.16667rem;
}
.icon_box .icon_box_inner .text_title:only-child {
    padding-bottom: 0;
}

/* text */
.sub_text {
    margin-bottom: 40px;
}
.sub_text .h2_title {
    margin-bottom: 10px;
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    font-size: 1.5rem;
    line-height: 2.33333rem;
}
.sub_text .bul_text {
    color: #2f2f2f;
    position: relative;
    padding-left: 10px;
}
.sub_text .bul_text:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 11px;
    width: 3px;
    height: 3px;
    background: #b9b9b9;
}
.sub_text_2 {
    margin-bottom: 25px;
}
.sub_text_center,
.sub_text_center_2 {
    margin-bottom: 45px;
    text-align: center;
}
.sub_text_center_2 {
    font-size: 1.5rem;
    line-height: 2.33333rem;
}
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : table contents
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* bbs_list_header */
.bbs_list_header {
    font-size: 1.33333rem;
    line-height: 2.16667rem;
    color: #2f2f2f;
    padding: 25px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #f2f3f4;
}
/* bbs_list_body */
.bbs_list_body .tb_list_1 {
    margin-bottom: 5px;
}
.bbs_list_body .txt_warning {
    font-size: 1.16667rem;
    line-height: 2rem;
    color: #767676;
}
/* bbs_list_footer */
.bbs_list_footer {
    border-top: 1px solid #767676;
    border-bottom: 1px solid #e3e5e9;
    padding: 25px;
    margin-top: 55px;
    box-sizing: border-box;
    background: #f8f8f8;
}
.bbs_list_footer .total_reservation {
    text-align: right;
    font-family: "Noto-Medium";
    font-size: 1.5rem;
    line-height: 2.33333rem;
    color: #2f2f2f;
}
.bbs_list_footer .total_reservation span {
    color: #ee4428;
}
/* table_list */
.tb_list_1 {
    margin-bottom: 40px;
    border-top: 1px solid #767676;
}
.tb_list_1 table {
    /*table-layout: fixed;*/
    width: 100%;
    font-size: 1.333rem;
    line-height: 2rem;
}
.tb_list_1 table th {
    padding: 8px 0;
    font-family: 'Noto-Medium';
    font-weight: normal;
    color: #2f2f2f;
    border-bottom: 1px solid #e3e5e9;
    border-left: 1px solid #e3e5e9;
    background: #f8f8f8;
}
.tb_list_1 table th:first-child {
    border-left: none;
}
.tb_list_1 table td {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #e3e5e9;
    border-left: 1px solid #e3e5e9;
}
.tb_list_1 table td:first-child {
    border-left: none;
}
.tb_list_1 table td.left {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.tb_list_1 table td.left a {
    vertical-align: middle;
}
.tb_list_1 table td.left a:active,
.tb_list_1 table td.left a:hover {
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    text-decoration: underline;
}
.tb_list_1 table td.left a.notice_link {
    font-family: 'Noto-Medium';
    color: #2f2f2f;
}
.tb_list_1 table td.left img {
    vertical-align: middle;
}
.tb_list_1 table td .tb_btn_group {
    margin: -5px 0;
}
.tb_list_1 table td .tb_btn_group a {
    margin-top: 5px;
}
.tb_list_1 table td .tb_btn_group a:first-child {
    margin-top: 0;
}
.tb_list_2 {
    margin-bottom: 10px;
    border-top: 1px solid #767676;
}
.tb_list_2 table {
    table-layout: fixed;
    width: 100%;
    font-size: 1.333rem;
    line-height: 2rem;
}
.tb_list_2 table th {
    padding: 15px 0;
    font-family: 'Noto-Medium';
    font-weight: normal;
    color: #2f2f2f;
    border-bottom: 1px solid #e3e5e9;
    border-left: 1px solid #e3e5e9;
    background: #f8f8f8;
}
.tb_list_2 table th:first-child {
    border-left: none;
}
.tb_list_2 table td {
    padding: 11px 0;
    text-align: center;
    line-height: 1.83333rem;
    border-bottom: 1px solid #e3e5e9;
    border-left: 1px solid #e3e5e9;
}
.tb_list_2 table td:first-child {
    border-left: none;
}
.tb_list_2 table td.left {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.tb_list_3 {
    margin-bottom: 40px;
    border-top: 1px solid #767676;
}
.tb_list_3 table {
    table-layout: fixed;
    width: 100%;
    font-size: 1.333rem;
    line-height: 2rem;
}
.tb_list_3 table th {
    padding: 15px 0;
    font-family: 'Noto-Medium';
    font-weight: normal;
    color: #2f2f2f;
    border-bottom: 1px solid #e3e5e9;
    border-left: 1px solid #e3e5e9;
    background: #f8f8f8;
}
.tb_list_3 table th.line_none {
    border-left: none;
}
.tb_list_3 table td {
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #e3e5e9;
    border-left: 1px solid #e3e5e9;
}
.tb_list_3 table td.line_none {
    border-left: none;
}
.tb_list_3 table td.left {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
.list_wrap {
    overflow: hidden;
    margin-bottom: 40px;
    border-top: 1px solid #767676;
}
.list_wrap dl {
    float: left;
    display: table;
    width: 50%;
    overflow: hidden;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.list_wrap dl dt {
    display: table-cell;
    width: 33.44482%;
    min-height: 24px;
    padding: 15px 20px;
    border-right: 1px solid #e3e5e9;
    border-bottom: 1px solid #e3e5e9;
    box-sizing: border-box;
    background: #f8f8f8;
}
.list_wrap dl dd {
    display: table-cell;
    width: 66.55518%;
    padding: 15px 20px;
    border-right: 1px solid #e3e5e9;
    border-bottom: 1px solid #e3e5e9;
    box-sizing: border-box;
}
.list_wrap dl:nth-child(2n) dd {
    border-right: none;
}
/* table_view */
.tb_view_1 {
    margin-bottom: 30px;
    border-top: 1px solid #767676;
}
.tb_view_1 table {
    table-layout: fixed;
    width: 100%;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.tb_view_1 table > tbody > tr > th {
    padding: 15px 20px;
    font-weight: normal;
    color: #2f2f2f;
    text-align: left;
    border-right: 1px solid #e3e5e9;
    border-bottom: 1px solid #e3e5e9;
    background: #f7f8f9;
}
.tb_view_1 table > tbody > tr > td {
    padding: 15px 20px;
    border-bottom: 1px solid #e3e5e9;
}
.tb_view_1 table > tbody > tr > td .context {
    min-height: 96px;
}
.tb_view_1 table > tbody > tr > td .context img {
    max-width: 100%;
}
.view_wrap {
    border-top: 1px solid #767676;
}
.view_wrap .view_title {
    padding: 14px 20px;
    font-family: 'Noto-Medium';
    color: #2f2f2f;
    border-bottom: 1px solid #e3e5e9;
    background: #f8f8f8;
}
.view_wrap .context {
    padding: 25px 20px;
    font-size: 1.16667rem;
    line-height: 2rem;
    border-bottom: 1px solid #e3e5e9;
    word-break: break-all;
}
.view_wrap .context img {
    max-width: 100%;
}
.view_wrap .attach_wrap {
    font-size: 1.16667rem;
    line-height: 2rem;
    border-bottom: 1px solid #e3e5e9;
}
.view_wrap .attach_wrap dl {
    display: table;
    width: 100%;
}
.view_wrap .attach_wrap dl dt {
    display: table-cell;
    width: 16.72241%;
    padding: 12px 20px;
    vertical-align: middle;
    color: #2f2f2f;
    background: #f7f8f9;
}
.view_wrap .attach_wrap dl dd {
    display: table-cell;
    width: 83.27759%;
    padding: 12px 20px;
    vertical-align: middle;
    border-left: 1px solid #e3e5e9;
}
.view_wrap .attach_wrap dl dd a {
    display: inline-block;
    padding-left: 20px;
    background: url("/dwweb/images/img/sub/icon_attach.gif") no-repeat 0 0.4em;
}
.view_wrap .attach_wrap dl dd a:active,
.view_wrap .attach_wrap dl dd a:hover {
    text-decoration: underline;
}
.tb_prev_next {
    font-size: 1.16667rem;
    line-height: 2rem;
    border-top: 1px solid #e3e5e9;
}
.tb_prev_next table {
    table-layout: fixed;
    width: 100%;
}
.tb_prev_next table th {
    padding: 15px 10px;
    color: #2f2f2f;
    border-bottom: 1px solid #e3e5e9;
}
.tb_prev_next table th .prev:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 3px 10px 0 0;
    vertical-align: middle;
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.tb_prev_next table th .next:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: -6px 10px 0 0;
    vertical-align: middle;
    border-bottom: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.tb_prev_next table td {
    padding: 15px 10px;
    border-bottom: 1px solid #e3e5e9;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* table_write */
.tb_write_1 {
    margin-bottom: 45px;
    border-top: 1px solid #767676;
}
.tb_write_1 table {
    table-layout: fixed;
    width: 100%;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.tb_write_1 table th {
    padding: 16px 20px;
    font-weight: normal;
    text-align: left;
    color: #2f2f2f;
    border-right: 1px solid #e3e5e9;
    border-bottom: 1px solid #e3e5e9;
    background: #f8f8f8;
}
.tb_write_1 table td {
    padding: 10px 20px;
    border-bottom: 1px solid #e3e5e9;
}
.tb_write_1 table th.center {
    text-align: center;
}
.tb_write_2 {
    margin-bottom: 35px;
    border-top: 1px solid #767676;
}
.tb_write_2 table {
    table-layout: fixed;
    width: 100%;
}
.tb_write_2 table th {
    font-weight: normal;
    text-align: left;
    color: #2f2f2f;
    border-right: 1px solid #e3e5e9;
    border-bottom: 1px solid #e3e5e9;
    background: #f8f8f8;
}
.tb_write_2 table th label {
    display: inline-block;
    padding: 0 20px;
}
.tb_write_2 table td {
    padding: 10px 9px;
    border-bottom: 1px solid #e3e5e9;
}
.tb_write_2 table td .inp_textarea {
    height: 130px;
    margin-bottom: 5px;
}

.tb_write_2 table td .inp_textarea_v2 {
    overflow-y: auto;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    padding: 10px 20px;
    line-height: 1.5em;
    border: 1px solid #d8d8d8;
}

.tb_write_2 table td .inp_textarea_v2:focus {
    outline: 1px solid #a6c7ff;
}
.tb_write_2 table td .inp_textarea_v2 .terms_tit {
    margin-bottom: 10px;
    font-family: 'Noto-Regular', sans-serif;
}
.tb_write_2 table td .inp_textarea_v2 .terms_txt {
    margin-bottom: 30px;
}
.tb_write_2 table td .inp_textarea_v2 > ul,
.tb_write_2 table td .inp_textarea_v2 > ol {
    overflow: hidden;
    margin-bottom: 30px;
}
.tb_write_2 table td .inp_textarea_v2 > ul > li,
.tb_write_2 table td .inp_textarea_v2 > ol > li {
    margin-bottom: 10px;
}
.tb_write_2 table td .inp_textarea_v2 > ul > li > ul,
.tb_write_2 table td .inp_textarea_v2 > ul > li > ol,
.tb_write_2 table td .inp_textarea_v2 > ol > li > ul,
.tb_write_2 table td .inp_textarea_v2 > ol > li > ol {
    margin-top: 5px;
}
.tb_write_2 table td .inp_textarea_v2 > ul > li > ul > li,
.tb_write_2 table td .inp_textarea_v2 > ul > li > ol > li,
.tb_write_2 table td .inp_textarea_v2 > ol > li > ul > li,
.tb_write_2 table td .inp_textarea_v2 > ol > li > ol > li {
    margin-bottom: 5px;
}
.tb_write_2 table td .inp_textarea_v2 .txt_indent75 {
    padding-left: 75px;
    text-indent: -75px;
}
.tb_write_2 table td .inp_textarea_v2 .txt_indent25 {
    padding-left: 25px;
    text-indent: -25px;
}
.tb_write_2 table td .inp_textarea_v2 .txt_indent12 {
    padding-left: 12px;
    text-indent: -12px;
}

.tb_write_2 table td .agree {
    text-align: right;
    font-size: 1.16667rem;
    line-height: 2rem;
}

/* pageing */
.paging {
    margin: 20px 0;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px 0;
    font-size: 14px;
    line-height: 24px;
    /* font-size: 1.16667rem;
    line-height: 2rem; */
}

/* .paging {
	margin: 10px 0;
	border: 1px solid #ddd;
	padding: 10px 0;
	text-align: center;
} */

.paging a {
    display: inline-block;
    width: 30px;
    height: 26px;
    padding: 3px 0;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.paging .direction {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
    overflow: hidden;
}
.paging .direction a {
    float: left;
    text-indent: -9999em;
}
.paging .direction a:first-child {
    margin-right: -1px;
}
.paging .direction .btn_page_first {
    background: url("/dwweb/images/img/sub/btn_page_first.gif") left top no-repeat;
}
.paging .direction .btn_page_prev {
    background: url("/dwweb/images/img/sub/btn_page_prev.gif") left top no-repeat;
}
.paging .direction .btn_page_next {
    background: url("/dwweb/images/img/sub/btn_page_next.gif") left top no-repeat;
}
.paging .direction .btn_page_last {
    background: url("/dwweb/images/img/sub/btn_page_last.gif") left top no-repeat;
}
.paging .num {
    display: inline-block;
    background-color: #f2f2f2;
}
.paging .num strong {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    padding: 3px 0;
    color: #fff;
    border: 1px solid #6d8496;
    background: #6d8496;
}

.paging strong {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    padding: 3px 0;
    color: #fff;
    border: 1px solid #6d8496;
    background: #6d8496;
}

.paging_mobile {
    display: none;
}
.pop_paging {
    margin-top: 22px;
    text-align: center;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.pop_paging a {
    display: inline-block;
    width: 30px;
    padding: 3px 0;
    vertical-align: middle;
    border: 1px solid #ddd;
}
.pop_paging .direction {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
    overflow: hidden;
}
.pop_paging .direction a {
    float: left;
    text-indent: -9999em;
}
.pop_paging .direction a:first-child {
    margin-right: -1px;
}
.pop_paging .direction .btn_page_first {
    background: url("/dwweb/images/img/sub/btn_page_first.gif") left top no-repeat;
}
.pop_paging .direction .btn_page_prev {
    background: url("/dwweb/images/img/sub/btn_page_prev.gif") left top no-repeat;
}
.pop_paging .direction .btn_page_next {
    background: url("/dwweb/images/img/sub/btn_page_next.gif") left top no-repeat;
}
.pop_paging .direction .btn_page_last {
    background: url("/dwweb/images/img/sub/btn_page_last.gif") left top no-repeat;
}
.pop_paging strong {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    padding: 3px 0;
    color: #fff;
    border: 1px solid #6d8496;
    background: #6d8496;
}


/* search */
.bbs_search {
    margin-bottom: 25px;
    padding: 20px 0;
    font-size: 1.16667rem;
    line-height: 1.4rem;
    text-align: center;
    background: #eaf1f3;
}
.bbs_search .search_select {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    text-align: left;
}
.bbs_search .search_select dl {
    position: relative;
    box-sizing: initial;
}
.bbs_search .search_select dl dt {
    position: absolute;
    left: 0;
    top: 6px;
    color: #2f2f2f;
    box-sizing: initial;
}
.bbs_search .search_select dl dd {
    padding-left: 62px;
    width: 200px;
    box-sizing: initial;
}
.bbs_search .search_inp {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.bbs_search .search_inp dl {
    position: relative;
    box-sizing: initial;
}
.bbs_search .search_inp dl dt {
    position: absolute;
    left: 0;
    top: 6px;
    color: #2f2f2f;
    box-sizing: initial;
}
.bbs_search .search_inp dl dd {
    width: 430px;
    padding: 0 68px 0 35px;
    /* margin-left: 35px;
    margin-right: 68px; */
    box-sizing: initial;
}
.bbs_search .search_inp dl dd .inp_select {
    width: 120px;
}
.bbs_search .search_inp dl dd .inp_text_2 {
    width: 300px;
}
.bbs_search .search_inp dl dd a {
    position: absolute;
    right: 0;
    top: 0;
}
.bbs_search .search_inp_2 {
    position: relative;
    display: inline-block;
    width: 500px;
    padding-right: 68px;
    vertical-align: middle;
    text-align: left;
}
.bbs_search .search_inp_2 a {
    position: absolute;
    right: 0;
    top: 0;
}
.bbs_search_2 {
    margin-bottom: 25px;
    padding: 20px 0;
    font-size: 1.16667rem;
    line-height: 2rem;
    text-align: center;
    background: #eaf1f3;
}
.bbs_search_2 .search_select {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    text-align: left;
}
.bbs_search_2 .search_select dl {
    position: relative;
    box-sizing: initial;
}
.bbs_search_2 .search_select dl dt {
    position: absolute;
    left: 0;
    top: 6px;
    color: #2f2f2f;
    box-sizing: initial;
}
.bbs_search_2 .search_select dl dd {
    padding-left: 62px;
    width: 200px;
    box-sizing: initial;
}
.bbs_search_2 .search_select_2 {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    text-align: left;
}
.bbs_search_2 .search_select_2 dl {
    position: relative;
    box-sizing: initial;
}
.bbs_search_2 .search_select_2 dl dt {
    position: absolute;
    left: 0;
    top: 6px;
    color: #2f2f2f;
    box-sizing: initial;
}
.bbs_search_2 .search_select_2 dl dd {
    padding-left: 75px;
    width: 90px;
    box-sizing: initial;
}
.bbs_search_2 .search_inp {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.bbs_search_2 .search_inp dl dt {
    position: absolute;
    left: 0;
    top: 6px;
    color: #2f2f2f;
    box-sizing: initial;
}
.bbs_search_2 .search_inp dl dd {
    width: 310px;
    padding: 0 68px 0 62px;
    box-sizing: initial;
}
.bbs_search_2 .search_inp dl dd .inp_select {
    width: 100px;
}
.bbs_search_2 .search_inp dl dd .inp_text_2 {
    width: 200px;
}
.bbs_search_2 .search_inp a {
    position: absolute;
    right: 0;
    top: 0;
}
/* table_info */
.tb_info_right {
    position: relative;
}
.tb_info_right p {
    position: absolute;
    right: 0;
    top: -28px;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.tb_info_right_2 {
    position: relative;
}
.tb_info_right_2 .tb_info {
    position: absolute;
    right: 0;
    top: -45px;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.tb_info_right_2 .tb_info label {
    padding-right: 10px;
    color: #2f2f2f;
}
.tb_info_right_2 .tb_info .inp_select {
    width: 100px;
}
.tb_info_left {
    padding-bottom: 5px;
    font-size: 1.16667rem;
    line-height: 2rem;
}
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : form contents
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
.phone_wrap .inp_select {
    width: 100px;
}
.phone_wrap .inp_text_2 {
    width: 100px;
}
.email_wrap .inp_text_2 {
    width: 21.05263%;
}
.email_wrap .inp_select {
    width: 15.78947%;
}
.address_wrap .inp_text {
    margin-top: 10px;
}
.address_wrap .inp_text_2 {
    width: 100px;
}
.select_wrap .inp_select {
    width: 21.05263%;
}
.team_wrap .team_search {
    position: relative;
    padding-left: 165px;
}
.team_wrap .team_search .btn_round_type_2 {
    position: absolute;
    left: 0;
    top: 0;
}
.team_wrap .team_select {
    margin-top: 10px;
    overflow: hidden;
}
.team_wrap .team_select .inp_select {
    float: left;
    width: 49.5%;
}
.team_wrap .team_select .inp_select:last-child {
    float: right;
}
.leader_wrap .inp_text_2 {
    width: 21.05263%;
}
.form_tip {
    display: inline-block;
    margin-left: 5px;
    color: #767676;
}
.form_agree {
    margin-top: 10px;
    text-align: right;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.form_agree_2 {
    position: relative;
    top: -5px;
    margin-bottom: 10px;
    font-size: 1.16667rem;
    line-height: 2rem;
}
.form_agree_all {
    margin-top: -20px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 1.16667rem;
    line-height: 2rem;
}
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/*
     * @Document     : Input_style
     * @comment      :
*/
/*▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣*/
/* input */
.inp_text {
  width: 100%;
}

.inp_text_2 {
  width: 42.10526%;
}

.inp_select {
  width: 21.05263%;
}

.inp_select_2 {
  width: 100%;
}

.inp_radio {
  display: inline-block;
  margin: 0 25px 0 0;
  padding: 2px 0;
  font-size: 1.16667rem;
  line-height: 2rem;
}
.inp_radio:first-child {
  margin-left: 0;
}

.inp_radio_2 {
  display: inline-block;
  margin: 0 25px 0 0;
  padding: 2px 0;
  font-size: 1.16667rem;
  line-height: 2rem;
}
.inp_radio_2:last-child {
  margin-right: 0;
}

.inp_radio_3 {
  display: inline-block;
  margin: 0 40px 0 0;
  padding: 2px 0;
}
.inp_radio_3:last-child {
  margin-right: 0;
}

.inp_textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  line-height: 1.5em;
  border: 1px solid #d8d8d8;
}
